* {
  margin: 0;
  padding: 0;
}



div.box {
  background: #FBFCFC;
  height: 100vh;
  width: 100%;
  font-family:'Montserrat', sans-serif;
  flex-direction: column;
}

div.div1 {
  background: #212F3C;
  float: left;
  height: 100%;
  width: 50%;
}

div.div2 {
  
  height: 100%;
}

.inside {
    position: absolute;
    bottom: 0;
	
}

.right{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin-bottom:1%;
    left: 60%;  
}

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

img {
    max-width: 100%;
    max-height: 100%;
	background-position: cover;
}

.line{
      
    font-size: 35px;
    font-weight: bold;
    color: #001f3f;
    width: 145px;
    height: auto;
    border-bottom: 4px solid #0074D9;
    position: absolute;
    /* float: right; */
    /* margin: 72px; */
    left:70%;
    padding: 4px;
    top: 6%;
}

#down{
margin: 65px;
}



.menu{
position: absolute;
    margin-left: 55%;
    margin-top: 15%;
	 
}


.menu a {
	position: relative;
	display: inline-block;
	color: #007bff !important;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 33px;
	outline: 0;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.menu a:first-of-type {
	margin-left: 0px;
}

.menu a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #007bff;
	content: "";
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.menu a:focus:after,
.menu a:hover:after {
	height: 2px;
	border-radius: 3px;
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.info{
margin-bottom:3%;
margin-left: 10%;
}

.info{
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  float: left;
  padding: 1px 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

  
.letter{
 font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.2em;
position: absolute;
    left: 70%;
    top: 50%;
}  

#morse{
margin-bottom:15px;
}
  

 .kbd{
  display: inline-block;
  padding: 3px 5px;
  font: 20px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;

}

  
@media only screen and (max-width: 944px) {
    .menu {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        margin-top: 25%;
    }
}

@media only screen and (max-width: 404px) {
    .menu {
        margin-top: 43%;
    }
}
